@forward "normalize";
@forward "fonts";

body {
    background: #fff;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;

    a {
        text-decoration: none;
        color: #fff;
    }

    .join_block {
        padding-top: 30px;

        .button {
            padding: 15px 40px;
            border-radius: 20px;
            font-family: Lato, sans-serif;
            max-width: max-content;
            margin: 20px;
        }

        .para_1,
        .para_2 {
            margin: 20px 0;
        }

        .m_auto {
            
        }

        .w_app {
            background-color: #45b536;
            &:hover {
                background-color: #69d25e;
            }

            &::before {
                content: '';
                display: inline-block;
                height: 20px;
                width: 20px;
                background-image: url(/assets/img/w_app_icon.png);
                background-position: center center;
                background-size: contain;
                margin-right: 10px;
            }
        }

        .tele {
            background-color: #3a97d7;
            &:hover {
                background-color: #4db0e5;
            }

            &::before {
                content: '';
                display: inline-block;
                height: 20px;
                width: 20px;
                background-image: url(/assets/img/tele_icon.png);
                background-position: center center;
                background-size: contain;
                margin-right: 10px;
            }
        }
    }

    header {
        display: flex;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/assets/img/makeMoneyBg1.jpg);
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/makeMoneyBg1.jpg);
        background-position: 0px 0px, 50% 50%;
        background-size: auto, cover;
        background-repeat: repeat, no-repeat;
        height: 650px;
        justify-content: center;
        color: #fff;


        .header_block {
            text-align: center;
            margin: auto;
            width: 100%;

            h1 {
                position: static;
                font-family: Lora, sans-serif;
                font-size: 52px;
                font-weight: 700;
                letter-spacing: 0px;
                line-height: 1.1;
            }
        }


    }

    nav {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;

        li {
            list-style-type: none;
            display: inline;
            padding: 0 30px;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 14px;
                font-family: 'Varela Round', sans-serif;

                &:hover {
                    color: #9e9e9e;
                }

                @media (max-width: 779px) {
                    font-size: 12px;
                }


            }

            @media (max-width: 779px) {
                padding: 0 20px;
            }
        }
    }

    main {
        .second_fold {
            text-align: center;
            padding: 50px 40px;

            h2 {
                margin-bottom: 40px;
                font-family: Lora, sans-serif;
                font-size: 42px;
                text-align: center;
            }

            p {
                font-family: Lato, sans-serif;
                text-align: center;
            }
        }

        .third_fold {
            display: flex;
            flex-wrap: wrap;
            background: #fcf7f3;
            padding: 50px 80px;
            justify-content: space-between;

            .child_third {
                width: 49%;
                font-family: Lato, sans-serif;
                margin-bottom:20px;

                h3 {
                    font-family: Lora, sans-serif;
                    font-size: 32px;
                    line-height: 36px;
                }

                img {
                    width: 90%;
                    border-radius: 50px 0;
                    margin: auto;
                }

                ul {
                    padding: 0px;
                    li {

                        list-style: none;
                        display: flex;
                        align-items: center;

                        &::before {
                            content: '';
                            display: inline-block;
                            height: 20px;
                            width: 20px;
                            background-image: url(/assets/img/makeMoney_icon.jpeg);
                            background-position: center center;
                            background-size: contain;
                            margin-right: 10px;
                        }

                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }


                @media (max-width: 779px) {
                    width: 100%;
                }
            }

            .child_img {
                text-align: center;
            }
        }

        .fourth_fold {
            display: flex;
            flex-wrap: wrap;
            padding: 50px 40px;
            justify-content: center;
        
            h3 {
                font-family: Lora, sans-serif;
                font-size: 42px;
                line-height: 36px;
            }

            .block_fourth {
                display: flex;
                justify-content: space-between;

                .child_fourth {
                    width: 48%;
                    font-family: Lato, sans-serif;
                    margin-bottom:20px;
                    display: flex;
                    justify-content: space-between;
    
                    h3 {
                        font-family: Lora, sans-serif;
                        font-size: 20px;
                        margin: 0px;
                        line-height: 36px;
                    }

                    aside {
                        width: 40%;
                        line-height: 20px;
                        img {
                            width: 100%;
                            border-radius: 30px 0px 30px 30px;
                        }

                        p {
                            font-family: Lato, sans-serif;
                        } 
                    }

                    .right {
                        width: 57%;
                    }
                }
                

            }
        }

        .fifth_fold {
            box-shadow: 8px 8px 20px -8px rgb(0 0 0 / 57%);
            width: 40%;
            margin: 60px auto 100px auto;
            padding: 40px;

            @media (max-width:779px) {
                width: 70%;
            }

            label {
                width: 100%;
                font-family: Lora, sans-serif;
                font-weight: bold;
                margin-bottom: 5px;
                display:block;
            }
            input {
                width: 100%;
                padding: 10px;
                border-radius: 20px ;
                border: 1px solid #ccc;
                margin-bottom: 10px;
            }

            input[type="submit"] {
                width: max-content;
                padding: 10px 20px;
                background-color: #0274d8;
                color: white;
                border:0;

                &:hover {
                    background-color: #208ff0;
                    cursor: pointer;
                }
            }

            h3 {
                font-family: Lora, sans-serif;
                font-size: 32px;
                margin: 0px;
                line-height: 36px;
                text-align: center;
            }


        }
    }

    footer {
        padding: 10px 50px;
        
        background-color: rgba(49, 49, 49, 0.75);
        text-align: center;

        p {
            color: #fff;
        }
    }

}